.services {
    max-width: 960px;
    margin: 0 12px;
    padding: 20px 0;
    text-align: center;
}

.services__header {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.services__title {
    font-family: 'PoiretOne';
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    text-wrap: balance;
    margin: 6px 0;
    color: sandybrown;
}

.services__icon {
    display: none;
}

.services__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

@media (min-width: 768px) {
    .services {
        margin: 0 auto;
    }

    .services__header {
        justify-content: space-between;
    }

    .services__title {
        font-size: 3rem;
        text-align: right;
        padding: 0 16px;
        margin: 20px 0;
    }

    .services__icon {
        display: block;
    }

    .services__list {
        justify-content: space-between;
    }
}
