.contact-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-links__item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.contact-links__item:hover {
    background-color: #f4a4601a;
}

.contact-links__item a {
    color: #353331;
    text-decoration: none;
    font-family: 'Jura', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    transition: color 0.3s ease;
}

.contact-links__item a:hover {
    color: sandybrown;
}

.contact-links__info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.contact-links__description {
    color: #353331;
    font-family: 'Jura', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}
