@import '../../fonts/fonts.css';

.welcome {
    width: 100%;
    min-width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    background: url('../../../public/img/welcome.webp') center/cover no-repeat;
}

.welcome__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.welcome__logo {
    position: relative;
    top: 2vh;
    width: 250px;
    filter: brightness(10);
}

.welcome__nav {
    display: none;
}

.welcome__nav-link {
    font-family: 'PoiretOne', sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.075rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in;
    color: #fff;
    text-decoration: none;
}

.welcome__nav-link:hover {
    border-bottom-color: sandybrown;
    cursor: pointer;
}

.welcome__header {
    width: 100vw;
    min-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 7vh;
    background: radial-gradient(circle, #313233c9 61%, #a993b300 100%);
}

.welcome__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 800px;
    padding: 0.75rem;
    margin: 0 auto;
    gap: 2px;
}

.welcome__title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    text-wrap: balance;
    margin: 10px 0;
}

.welcome__subtitle {
    color: sandybrown;
    font-family: 'Jura', sans-serif;
    font-size: 1.05rem;
    font-weight: 800;
    text-align: left;
    text-wrap: balance;
}

@media (min-width: 768px) {
    .welcome {
        height: 80vh;
    }

    .welcome__nav {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;
        padding-top: 5vh;
        gap: 2rem;
        z-index: 2;
    }

    .welcome__nav-link {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .welcome__header {
        text-align: left;
        padding: 3rem 0;
        margin-top: 13vh;
    }

    .welcome__content {
        gap: 8px;
    }

    .welcome__title {
        font-size: 4rem;
    }

    .welcome__subtitle {
        font-size: 1.75rem;
    }
}
