@import '../../fonts/fonts.css';

.welcome_root {
	width: 100%;
	height: 100vh;
	position: relative;
	top: -3vh;
	overflow: hidden;
}

.welcome_root::after {
	content: '';
	width: 100vw;
	height: 100vh;
	background: url('../../../public/img/welcome.jpg');
	background-size: cover;
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.welcome {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navLinks {
	display: flex;
	gap: 32px;
	justify-content: center;
	color: #fff;
	position: relative;
	top: 5vh;
	left: 0;
	z-index: 2;
}

.navLinks_link {
	font-family: PoiretOne;
	font-size: 24px;
	padding-bottom: 3px;
	border-bottom: 3px solid transparent;
	transition: all 0.3s ease-in;
}

.navLinks_link:hover {
	border-bottom: 3px solid #fff;
}

.header {
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	top: 19vh;
	padding: 10px 0;
	left: 0;
	z-index: 2;
	background-color: #0000007c;
}

.header_title {
	max-width: 550px;
	padding: 12px;
	margin: 0 auto;
}

.header_title h1 {
	color: #fff;
	text-transform: capitalize;
	font-size: clamp(2rem, 3vw, 4.5rem);
	font-weight: 500;
	text-wrap: balance;
	margin-bottom: 6px;
	cursor: default;
}

.background-video {
	width: 100vw;
	filter: blur(1.5px);
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
