.btn {
	border: 1px solid #fff;
	padding: 8px;
	margin-top: 6px;
	font-family: Jura;
	color: #fff;
	transition: all 0.5s ease;
	border-radius: 4px;
}

.btn:hover {
	background-color: #fff;
	color: #000;
	cursor: pointer;
}
