@font-face {
    font-family: 'Jura';
    src: url('./Jura-VariableFont_wght.ttf') format('woff2');
}

@font-face {
    font-family: 'PoiretOne';
    src: url('./PoiretOne-Regular.ttf') format('woff2');
}
