.card_root {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-wrap: balance;
	gap: 12px;
	max-width: 425px;
	font-size: medium;
}

.card_subtitle {
	font-family: Jura;
	font-size: 14px;
	line-height: 20px;
	color: grey;
}

.card_image {
	height: 150px;
	width: 100%;
}
