.directory {
    max-width: 960px;
    margin: 40px auto;
    padding: 0 12px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    flex-wrap: nowrap;
}

.directory__title {
    font-family: 'PoiretOne', sans-serif;
    font-size: 1.8rem;
    font-weight: 800;
    color: sandybrown;
    text-align: left;
}

.directory__list {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-color: sandybrown #ffffff;
    position: relative;
    scrollbar-width: thin;
}

@media (min-width: 767.98px) {
    .directory__title {
        font-size: 3rem;
    }
}
