.advantages-list {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.advantages-list__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.advantages-list__icon {
    display: none;
}

.advantages-list__title {
    width: 100%;
    font-family: 'PoiretOne';
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
    text-wrap: balance;
    margin: 6px 0;
    color: sandybrown;
}

@media (min-width: 767.98px) {
    .advantages-list__icon {
        display: block;
    }

    .advantages-list__title {
        font-size: 3rem;
        text-align: right;
        padding: 0 16px;
        margin: 20px 0;
    }
}
